@{
    ViewData["Title"] = "Game";
}

<div id="GameScene" >
    <br />
    <h1 id="GameTitle">4<span class="TitleTo">to</span>Win</h1>
    <hr />
    <br />

    <div id="GameInfo">
        <h4>Player  <span id="CurPlayer"></span></h4>
        <h5>Round &nbsp <span id="Round"></span></h5>
    </div>
    <img class="GameExit" src="~/img/Exit sign2.jpg" alt="Exit" />
    <h3 id="Countdown"></h3>
    <div class="board">

        <div class="col" id="column1">
            <div class="sq col0"></div>
            <div class="sq col0"></div>
            <div class="sq col0"></div>
            <div class="sq col0"></div>
            <div class="sq col0"></div>
            <div class="sq col0"></div>
        </div>

        <div class="col" id="column2">
            <div class="sq col1"></div>
            <div class="sq col1"></div>
            <div class="sq col1"></div>
            <div class="sq col1"></div>
            <div class="sq col1"></div>
            <div class="sq col1"></div>
        </div>

        <div class="col" id="column3">
            <div class="sq col2"></div>
            <div class="sq col2"></div>
            <div class="sq col2"></div>
            <div class="sq col2"></div>
            <div class="sq col2"></div>
            <div class="sq col2"></div>
        </div>

        <div class="col" id="column4">
            <div class="sq col3"></div>
            <div class="sq col3"></div>
            <div class="sq col3"></div>
            <div class="sq col3"></div>
            <div class="sq col3"></div>
            <div class="sq col3"></div>
        </div>

        <div class="col" id="column5">
            <div class="sq col4"></div>
            <div class="sq col4"></div>
            <div class="sq col4"></div>
            <div class="sq col4"></div>
            <div class="sq col4"></div>
            <div class="sq col4"></div>
        </div>

        <div class="col" id="column6">
            <div class="sq col5"></div>
            <div class="sq col5"></div>
            <div class="sq col5"></div>
            <div class="sq col5"></div>
            <div class="sq col5"></div>
            <div class="sq col5"></div>
        </div>

        <div class="col" id="column7">
            <div class="sq col6"></div>
            <div class="sq col6"></div>
            <div class="sq col6"></div>
            <div class="sq col6"></div>
            <div class="sq col6"></div>
            <div class="sq col6"></div>
        </div>

    </div>

    <audio id="song" src="~/audio/MiamiNights-OceanDrive.mp3"></audio>

    <audio id="soundPlay" src="~/audio/soundPlay.mp3"></audio>

    <audio id="soundWin" src="~/audio/soundWin.mp3"></audio>

</div>


<div id="VictoryPopUp">
    <h4 id="WinnerMsg"></h4>
    <button class="btnRematch"><a asp-controller="Home" asp-action="Game">Rematch</a></button>
    <button class="btnClose"><a asp-controller="Home" asp-action="Index">Close</a></button>
</div>

<script>
    var Exit = document.querySelector(".GameExit")
    if (document.querySelector(".GameExit")) {
        Exit.addEventListener("click", function () {
            window.location.href = "@Url.Action("Index", "Home")";
        })

    }

</script>

<script src="~/js/game.js"></script>
