@{
    ViewData["Title"] = "Home Page";
}

<div class="MenuBlue" id="Menu">
    <div id="MainMenu">
        <div id="MenuLocal"><h3>Local</h3></div>
        <div id="MenuOnline"><h3>Online</h3></div>
        <div id="MenuStats"><h3>Stats</h3></div>
    </div>
    <div id="OnlineMenu">
        <div id="MenuQuick"><h3>Quick Play</h3></div>
        <div id="MenuCreate"><h3>Create Game</h3></div>
        <div id="MenuJoin"><h3>Join Game</h3></div>
        <div id="BackToMenu"><h5>&#60 &#60 Menu </h5></div>
    </div>
</div>


<script src="~/js/mainMenu.js"></script>
