
@{
    ViewData["Title"] = "Join Match";
}

<h1>Join Match</h1>

<div class="container">
    <div class="row">&nbsp;</div>
    <div class="row">
        <input type="text" id="groupInput" />
        <input type="button" id="joinButton" value="Join Match" />
    </div>
    <div class="row">&nbsp;</div>
    <div>
        <p>LobbyId: <span id="lobbyid"></span></p>
        <p>Player: <span id="player"></span></p>
        <p>Estado: <span id="status"></span></p>
    </div>
</div>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/joinMatch.js"></script>