@import url(https://fonts.googleapis.com/css?family=Exo+2:200i);

@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,800;1,200&display=swap');

body {
    background-color: black;
    font-family: 'Exo 2', sans-serif;
    font-weight: 200;
    font-style: italic;
}

#GameScene {
    width: 100%;
    margin-right: 0rem;
    margin-left: 0rem;
}

    #GameScene::before {
        content: "";
        width: 100%;
        min-height: 100vh;
        display: block;
        height: 100%;
        position: absolute;
        background-image: url(../img/FondoGame.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        filter: contrast(150%) brightness(80%) saturate(70%);
        z-index: -1;
        left: 0;
        top: 0;
        opacity: 0.4;
    }

#lobbyid {
    color: white;
}

#GameTitle {
    text-align: center;
    color: white;
    font-style: italic;
    font-size: 5rem;
    color: aqua;
    text-shadow: 0.1rem 0.1rem 0.3rem #fff, 0.2rem 0.2rem 1rem #fff, 0 0 2rem, 0 0 4rem aqua, 0 0 6rem aqua, 0 0 8rem aqua, 0 0 10rem;
}

#GameInfo {
    display: flex;
    justify-content: space-around;
    color: white;
}

#CurPlayer {
    font-size: 2rem;
}

#Round {
    color: gold;
    font-size: 2rem;
}

#Countdown {
    font-weight: bold;
    text-align: center;
}

.board {
    height: auto;
    width: fit-content;
    padding: 2rem;
    display: flex;
    justify-content: center;
    margin: 4rem auto 2rem auto;
    background-color: black;
    box-shadow: 10px 10px 5px #9E00A0;
    border: 0.3rem solid #FB00FF;
    border-radius: 2rem;
    animation: flicker 4s infinite alternate;
}

    .board .col {
        padding: 0px;
        margin: 0px;
    }

.sq {
    height: 48px;
    width: 48px;
    border: 0.1rem solid #FB00FF;
    border-radius: 50%;
    margin: 0.7rem 0.4rem 0.7rem 0.4rem;
    background-color: #2C2C2C;
    box-shadow: 0 0 .10rem #fff, inset 0 0 .10rem #fff, 0 0 0.08rem #FB00FF, 0 0 0.6rem #FB00FF, inset 0 0 0.2rem #FB00FF
}

@keyframes flicker {

    0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
        box-shadow: 0 0 .17rem #fff, inset 0 0 .17rem #fff, 0 0 0.6rem #FB00FF, 0 0 2.5rem #FB00FF, inset 0 0 1rem #FB00FF
    }

    20%, 24%, 55% {
        box-shadow: none;
    }
}

.p1 {
    background-color: #C40000;
    border-color: #FF2D2D;
    box-shadow: 0 0 .10rem #fff, inset 0 0 .10rem #fff, 0 0 0.08rem #FF2D2D, 0 0 0.6rem #FF2D2D, inset 0 0 0.2rem #FF2D2D
}

.p2 {
    background-color: #0008AF;
    border-color: #6E74FF;
    box-shadow: 0 0 .10rem #fff, inset 0 0 .10rem #fff, 0 0 0.08rem #6E74FF, 0 0 0.6rem #6E74FF, inset 0 0 0.2rem #6E74FF
}

.iluminatep1 {
    background-color: #713939;
    border-color: #FF2D2D;
    box-shadow: 0 0 .05rem #fff, inset 0 0 .05rem #fff, 0 0 0.04rem #FF2D2D, 0 0 0.3rem #FF2D2D, inset 0 0 0.1rem #FF2D2D
}

.iluminatep2 {
    background-color: #282C55;
    border-color: #6E74FF;
    box-shadow: 0 0 .05rem #fff, inset 0 0 .05rem #fff, 0 0 0.04rem #6E74FF, 0 0 0.3rem #6E74FF, inset 0 0 0.1rem #6E74FF
}

.provisionalp1 {
    background-color: #C40000;
    border-color: #FF2D2D;
    box-shadow: 0 0 .10rem #fff, inset 0 0 .10rem #fff, 0 0 0.08rem #FF2D2D, 0 0 0.6rem #FF2D2D, inset 0 0 0.2rem #FF2D2D
}

.provisionalp2 {
    background-color: #0008AF;
    border-color: #6E74FF;
    box-shadow: 0 0 .10rem #fff, inset 0 0 .10rem #fff, 0 0 0.08rem #6E74FF, 0 0 0.6rem #6E74FF, inset 0 0 0.2rem #6E74FF
}

.winnerSq {
    background-color: goldenrod;
    border-color: gold;
    box-shadow: 0 0 .20rem #fff, inset 0 0 .20rem #fff, 0 0 0.16rem gold, 0 0 1.2rem gold, inset 0 0 0.4rem gold
}

#VictoryPopUp {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 0.5rem solid #f1f1f1;
    border-radius: 10%;
    height: fit-content;
    max-width: 300px;
    padding: 2rem;
    background-color: #2C2C2C;
    text-align: center;
    box-sizing: content-box;
    font-weight: 400;
    box-shadow: 0 0 .20rem #fff, inset 0 0 .20rem #fff, 0 0 0.16rem gold, 0 0 1.2rem gold, inset 0 0 0.4rem gold;
}

    #VictoryPopUp h4 {
        font-weight: 800;
        font-style: italic;
        margin-bottom: 2rem;
    }

#JoinError {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 0.5rem solid #f1f1f1;
    border-radius: 10%;
    height: fit-content;
    max-width: 300px;
    padding: 2rem;
    background-color: #2C2C2C;
    text-align: center;
    box-sizing: content-box;
    font-weight: 400;
    box-shadow: 0 0 .20rem #fff, inset 0 0 .20rem #fff, 0 0 0.16rem gold, 0 0 1.2rem gold, inset 0 0 0.4rem gold;
}

    #JoinError h4 {
        font-weight: 800;
        font-style: italic;
        margin-bottom: 2rem;
    }

#WinnerImgContent {
    position: relative;
}

#WinnerCrown {
    position:absolute;
    top:-25px;
    width: 50px;
    transform: rotate(340deg)

}

#WinnerImg {
    width: 100px;
    border-radius: 50%;
}



.btnRematch {
    background: none;
    border: none;
    box-sizing: border-box;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

    .btnRematch a {
        border: 0.3rem solid transparent;
        padding: 12px 16px;
        cursor: pointer;
        width: 80%;
        text-decoration: none;
        color: #219d15;
    }

        .btnRematch a:hover {
            text-decoration: none;
            border: 0.3rem solid #1ca50f;
            border-radius: 5%;
            box-shadow: 0 0 .20rem #fff, inset 0 0 .20rem #fff, 0 0 0.16rem #2BE019, 0 0 1.2rem #2BE019, inset 0 0 0.4rem #2BE019;
        }

.btnClose {
    background: none;
    border: none;
    box-sizing: border-box;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

    .btnClose a {
        border: 0.3rem solid transparent;
        padding: 12px 16px;
        cursor: pointer;
        width: 80%;
        text-decoration: none;
        color: red;
    }

        .btnClose a:hover {
            text-decoration: none;
            border: 0.3rem solid #ff1111;
            border-radius: 5%;
            box-shadow: 0 0 .20rem #fff, inset 0 0 .20rem #fff, 0 0 0.16rem #ff1111, 0 0 1.2rem #ff1111, inset 0 0 0.4rem #ff1111;
        }

#Menu {
    position: fixed;
    display: flex;
    flex-flow: column;
    align-content: space-between;
    top: 50%;
    left: 50%;
    background: none;
    transform: translate(-50%, -50%);
    height: fit-content;
    max-width: 500px;
    padding: 3rem 4rem 3rem 4rem;
    text-align: center;
    box-sizing: content-box;
    border-radius: 10%;
}

.MenuBlue {
    border: 0.4rem solid #006ad1;
    box-shadow: 0 0 0.1rem #fff, inset 0 0 0.1rem #fff, 0 0 0.08rem darkturquoise, 0 0 0.8rem darkturquoise, inset 0 0 0.2rem darkturquoise;
    animation: flicker2 4s infinite alternate;
}

@keyframes flicker2 {

    0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
        box-shadow: 0 0 .17rem #fff, inset 0 0 .17rem #fff, 0 0 0.6rem aqua, 0 0 2.5rem aqua, inset 0 0 1rem aqua
    }

    20%, 24%, 55% {
        box-shadow: none;
    }
}

#Menu h3 {
    font-size: 3rem;
}

#MenuLocal {
    margin: 1rem 0 1rem 0;
    color: darkmagenta;
}

    #MenuLocal:hover {
        color: deeppink;
        text-shadow: 0.1rem 0.1rem 0.3rem #ff8cda, 0.2rem 0.2rem 1rem #ff8cda, 0 0 2rem, 0 0 4rem deeppink, 0 0 6rem deeppink, 0 0 8rem deeppink, 0 0 10rem;
        cursor: pointer;
    }

#MenuOnline {
    margin: 1rem 0 1rem 0;
    color: #1a9e0c;
}

    #MenuOnline:hover {
        color: #2BE019;
        text-shadow: 0.1rem 0.1rem 0.3rem #8aff77, 0.2rem 0.2rem 1rem #8aff77, 0 0 2rem, 0 0 4rem #2be019, 0 0 6rem #2be019, 0 0 8rem #2be019, 0 0 10rem;
        cursor: pointer;
    }

#MenuStats {
    margin: 1rem 0 1rem 0;
    color: #bea100;
}

    #MenuStats:hover {
        color: yellow;
        text-shadow: 0.1rem 0.1rem 0.3rem #fffb00, 0.2rem 0.2rem 0.8rem #fffb00, 0 0 2rem, 0 0 4rem gold, 0 0 6rem gold, 0 0 8rem gold, 0 0 10rem;
        cursor: pointer;
    }

#OnlineMenu {
    display: none;
}

.MenuGreen {
    border: 0.4rem solid #33d823;
    box-shadow: 0 0 0.1rem #fff, inset 0 0 0.1rem #fff, 0 0 0.08rem #2BE019, 0 0 0.8rem #2BE019, inset 0 0 0.2rem #2BE019;
    animation: flicker3 4s infinite alternate;
}

@keyframes flicker3 {

    0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
        box-shadow: 0 0 .17rem #fff, inset 0 0 .17rem #fff, 0 0 0.6rem #2BE019, 0 0 2.5rem #2BE019, inset 0 0 1rem #2BE019
    }

    20%, 24%, 55% {
        box-shadow: none;
    }
}

#MenuQuick {
    color: #008083;
}

    #MenuQuick:hover {
        color: #00d6db;
        text-shadow: 0.1rem 0.1rem 0.3rem #91fcff, 0.2rem 0.2rem 0.8rem #91fcff, 0 0 2rem, 0 0 4rem #37faff, 0 0 6rem #37faff, 0 0 8rem #37faff, 0 0 10rem;
        cursor: pointer;
    }

#MenuCreate {
    color: #b26200;
}

    #MenuCreate:hover {
        color: #ff9000;
        text-shadow: 0.1rem 0.1rem 0.3rem #ffce90, 0.2rem 0.2rem 0.8rem #ffce90, 0 0 2rem, 0 0 4rem #ffaf4c, 0 0 6rem #ffaf4c, 0 0 8rem #ffaf4c, 0 0 10rem;
        cursor: pointer;
    }

#MenuJoin {
    color: #7f0060;
}

    #MenuJoin:hover {
        color: #e100aa;
        text-shadow: 0.1rem 0.1rem 0.3rem #ff8ce3, 0.2rem 0.2rem 0.8rem #ff8ce3, 0 0 2rem, 0 0 4rem #ff30cc, 0 0 6rem #ff30cc, 0 0 8rem #ff30cc, 0 0 10rem;
        cursor: pointer;
    }

#BackToMenu {
    margin: 2rem 0 1rem 0;
    color: #dd0000;
}

    #BackToMenu:hover {
        color: #ff2121;
        text-shadow: 0.1rem 0.1rem 0.3rem #ff9a9a, 0.2rem 0.2rem 1rem #ff9a9a, 0 0 2rem, 0 0 4rem #ff6969, 0 0 6rem #ff6969, 0 0 8rem #ff6969, 0 0 10rem;
    }

.glow-p1 {
    animation: glowRed 0.9s ease-in-out;
}

.glow-p2 {
    animation: glowBlue 0.9s ease-in-out;
}


@keyframes glowRed {

    0%, 100% {
        box-shadow: 0 0 0.1rem #fff, inset 0 0 0.1rem #fff, 0 0 0.08rem #ff2d2d, 0 0 0.6rem #ff2d2d, inset 0 0 0.2rem #ff2d2d;
    }

    70% {
        box-shadow: 0 0 .17rem #fff, inset 0 0 .17rem #fff, 0 0 0.6rem #ff8b8b, 0 0 2.5rem #ff8b8b, inset 0 0 1rem #ff8b8b;
    }
}

@keyframes glowBlue {

    0%, 100% {
        box-shadow: 0 0 0.1rem #fff, inset 0 0 0.1rem #fff, 0 0 0.08rem #c3c3c3, 0 0 0.6rem #c3c3c3, inset 0 0 0.2rem #c3c3c3;
    }

    70% {
        box-shadow: 0 0 .17rem #fff, inset 0 0 .17rem #fff, 0 0 0.6rem #ffffff, 0 0 2.5rem #ffffff, inset 0 0 1rem #ffffff;
    }
}

.glowWinner {
    animation: glowWinner 0.9s ease-in-out;
}


@keyframes glowWinner {

    0%, 100% {
        box-shadow: 0 0 0.1rem #fff, inset 0 0 0.1rem #fff, 0 0 0.08rem gold, 0 0 0.6rem gold, inset 0 0 0.2rem gold;
    }

    70% {
        box-shadow: 0 0 .37rem #fff, inset 0 0 .37rem #fff, 0 0 3.6rem white, 0 0 6.5rem white, inset 0 0 4rem white;
    }
}



/******************************    STATISTICS    ********************************/
#StatsTitle {
    margin: 1rem auto 3rem auto;
    text-align: center;
    color: #ffcb39;
    font-style: italic;
    font-size: 8rem;
    text-shadow: 0.1rem 0.1rem 0.3rem #ffe6b7, 0.2rem 0.2rem 1rem #ffe6b7, 0 0 #f1dc6d, 0 0 4rem #e8d465, 0 0 6rem gold, 0 0 8rem gold, 0 0 10rem;
    width: fit-content;
}

#StatsName {
    color:#12f9d7;
    font-weight: 700;
}

#StatsScene {
    color: white;
}

    #StatsScene::before {
        content: "";
        width: 100%;
        min-height: 100vh;
        display: block;
        height: 100%;
        position: absolute;
        background-image: url(../img/FondoStats5.png);
        background-repeat: no-repeat;
        background-size: cover;
        filter:contrast(150%) brightness(80%) saturate(50%) hue-rotate(88deg);
        z-index: -1;
        left: 0;
        top: 0;
    }

.StatsHeader {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 6rem;
}

.StatsPlayer {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-self: center;
    width: 50%;
    align-items: center;
}

.StatsPlayerImg {
    max-width: 12rem;
    margin: 0rem 0rem 2rem 0rem;
    border: 0.2rem solid #12f9d7;
    border-radius: 12%;
    box-shadow: 0 0 .10rem #fff, inset 0 0 .10rem #fff, 0 0 0.08rem aqua, 0 0 0.6rem #12f9d7, inset 0 0 0.2rem #12f9d7;
}

.StatsTotals {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: start;
    align-self: center;
    width: 30%;
}

.TotalGames {
    display: flex;
    justify-content: space-around;
    margin-bottom: 1rem;
    align-items: baseline;
    background-color: black;
    border: 0.1rem solid blue;
    border-radius: 1rem 1rem 1rem 1rem;
    padding: 0rem 1rem 0rem 1rem;
    box-shadow: 0 0 0.1rem #bebcff, inset 0 0 0.1rem #bebcff, 0 0 0.08rem #2727ff, 0 0 0.6rem #1b1bff, inset 0 0 0.2rem #2626ff;
}

.TotalWins {
    display: flex;
    justify-content: space-around;
    margin-bottom: 1rem;
    align-items: baseline;
    background-color: black;
    border: 0.1rem solid green;
    border-radius: 1rem 1rem 1rem 1rem;
    padding: 0rem 1rem 0rem 1rem;
    box-shadow: 0 0 0.1rem #c4fdbe, inset 0 0 0.1rem #c4fdbe, 0 0 0.08rem #63f863, 0 0 0.6rem #3ce509, inset 0 0 0.2rem #3ce509;
}

.TotalDefeats {
    display: flex;
    justify-content: space-around;
    margin-bottom: 1rem;
    align-items: baseline;
    background-color: black;
    border: 0.1rem solid #e60808;
    border-radius: 1rem 1rem 1rem 1rem;
    padding: 0rem 1rem 0rem 1rem;
    box-shadow: 0 0 0.1rem #ffb4b4, inset 0 0 0.1rem #ffbfbf, 0 0 0.08rem #dd4747, 0 0 0.6rem #ff2d2d, inset 0 0 0.2rem #ff2d2d;
}

.TotalDraws {
    display: flex;
    justify-content: space-around;
    margin-bottom: 1rem;
    align-items: baseline;
    background-color: black;
    border: 0.1rem solid goldenrod;
    border-radius: 1rem 1rem 1rem 1rem;
    padding: 0rem 1rem 0rem 1rem;
    box-shadow: 0 0 0.05rem #f9e6ae, inset 0 0 0.05rem #f9e6ae, 0 0 0.08rem gold, 0 0 0.6rem gold, inset 0 0 0.2rem gold;
}

.BestPlay {
    display: flex;
    justify-content: space-around;
    margin-bottom: 1rem;
    align-items: baseline;
    background-color: black;
    border: 0.1rem solid deeppink;
    border-radius: 1rem 1rem 1rem 1rem;
    padding: 0rem 1rem 0rem 1rem;
    box-shadow: 0 0 .10rem #fff, inset 0 0 .10rem #fff, 0 0 0.08rem deeppink, 0 0 0.6rem deeppink, inset 0 0 0.2rem deeppink;
}

.StatsNumberGames{
    margin-right:1rem;
    color:blue;
    font-size:xx-large;
}

.StatsNumberWins {
    margin-right: 1rem;
    color: green;
    font-size: xx-large;
}

.StatsNumberDefeats {
    margin-right: 1rem;
    color: red;
    font-size: xx-large;
}

.StatsNumberDraws {
    margin-right: 1rem;
    color: yellow;
    font-size: xx-large;
}

.StatsNumberRecord {
    margin-right: 1rem;
    color: deeppink;
    font-size: xx-large;
}

.StatsTable {
    background-color: black;
    color: white;
    border: 0.1rem solid deeppink;
    border-radius: 1rem 1rem 1rem 1rem;
    box-shadow: 0 0 .10rem #fff, inset 0 0 .10rem #fff, 0 0 0.08rem deeppink, 0 0 0.6rem deeppink, inset 0 0 0.2rem deeppink;
    border-collapse: collapse;
    overflow: hidden;
}

thead{
    border-color:none;
}