#GameTitle{
    text-align:center;
}

#GameInfo{
    display:flex;
    justify-content:space-around;
}

#playing {
    color: darkred
}

#Countdown{
    color:darkorange;
}

.board{
    height: 295px;
    width: 350px;
    border: 3px solid;
    display: flex;
    margin: 2rem auto 2rem auto;
}
.board .col {
    padding:0px;
    margin:0px;
}

.sq{
    height: 48px;
    width: 48px;
    border: 1px solid;
    border-radius:50%;
}

.p1{
    background-color: red;
}

.p2{
    background-color: black;
}

